<a href="https://colab.research.google.com/github/ajitkumarsaini02/fsd_ajitkumarsaini/blob/main/lect1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

🔑 Important Points:

Typecasting → Converting one data type into another.

Here, we converted a (int) → str(a) (string).

Explicit Typecasting → Done manually by the programmer using functions like:

int() → converts to integer

float() → converts to float

str() → converts to string

list(), tuple(), etc.

✅ In your code, str(a) is explicit typecasting.

In [ ]:
a=123
b='abes'
c= str(a) + b
print(c)
#typecast
#explicit typecast

123abes

👉Automatic typecasting (also called type conversion).

* Python automatically converts int → float during arithmetic if needed.

* It chooses the higher data type to avoid data loss.

* So:

   * int + int → int

   * float + float → float

   * int + float → float ✅ (automatic typecast)

👉 Typecasting types in short:

1. Explicit typecasting → You convert manually using int(), float(), str() etc.

In [ ]:
x = int("10")  # string → int

2. Implicit typecasting (automatic) → Python converts automatically.

In [ ]:
a=2
b=2.5
c=a + b
print(c)
type(c)
#automatic typecast

4.5

float

⚡👉 In short:

* input() → string

* int() → converts to integer

* (+) → adds numbers

* Use print() to display.

In [ ]:
a = int(input('enter a number')) #always in the string need to typecast
b = int(input('enter a number')) #always in the string need to typecast
c= a+b
c

⚡👉 In short:

* input() → take user values

* float() → allows decimals

* Formula used: SI = (P × R × T) / 100

* print() → displays the simple interest.

In [ ]:
p = float(input('enter a amount'))
r = float(input('enter a rate'))
t = float(input('enter a time'))
si = (p*r*t)/100
print(si)

| Operator | Name                | Example (`a=10, b=3`) | Result |
| -------- | ------------------- | --------------------- | ------ |
| `+`      | Addition            | `a + b`               | 13     |
| `-`      | Subtraction         | `a - b`               | 7      |
| `*`      | Multiplication      | `a * b`               | 30     |
| `/`      | Division (float)    | `a / b`               | 3.333… |
| `//`     | Floor Division      | `a // b`              | 3      |
| `%`      | Modulus (remainder) | `a % b`               | 1      |
| `**`     | Exponent (power)    | `a ** b`              | 1000   |

In [ ]:
a = 5
b = 10
print(a)
print("abes")
print(a>b)
print(a+b)
print(5/2)
print(ab)
print('ab')
print(type(a))

👉 In short:

 *  (+) add

 *  (-) subtract

*  (*) multiply

*  (/) divide

*  (**) power

 * (%) modulo division

 * (//) quotient (no decimal)

In [ ]:
a = 2
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)
print(a//b)

🔹 What dir() does:

 *  dir(object) → shows all the attributes and methods available for that object.

 * Here, x = 5 (an integer).

  So, dir(x) lists all the built-in functions you can use with an int.

In [ ]:
x=5
dir(x)
#directories

👉 type() just tells you what kind of data a variable stores.

In [ ]:
x=2
y=3.4
type(x)
type(y)

👉Working:

input() → takes value as string.

a + b → joins (concatenates) strings, not adds numbers.
Example: 10 and 20 → "10" + "20" = "1020".

print() → shows output on screen.

In [ ]:
# Basic I/O operation
#input for input the string
#print for print the value
a = input("Enter first no")
b= input("ENter second number")
c=a+b
print("The sum is",c)

👉 Explanation of Operators:

* (>)  greater than

* (<) less than

* (>=) greater or equal

* (<=) smaller or equal

* (==) equal (checks value)

* (!=) not equal

In [ ]:
# ARITHMETIC OPERATORS
# > : greater than
# < : less than
# >= : greater than or equal to
# <= : smaller than or equal
# != : Not equal to
# == : Equal to
a= 20
b= 5
x= 1
y= 2
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(x==y)
print(x!=y)

👉 Swapping  
     Swapping means exchanging the values of two variables.
    Example:
  If a = 5 and b = 10, after swapping → a = 10 and b = 5.

🔹 Swapping with Third Variable

   A temporary variable (temp) is used to hold one value during the swap.

   This prevents losing the original value of a variable.

 Steps:

* Store value of a in temp.

* Assign value of b to a.

* Assign value of temp (old a) to b.

In [ ]:
#swapping with third variable
a= int(input("Enter First no"))
b= int(input("Enter Second no"))
temp = a
a= b
b= temp
print("After swapping ",a,b)

🔹 Explanation of Operators:

* += → add and assign

* -= → subtract and assign

* *= → multiply and assign

* /= → divide and assign (result becomes float)

* %= → modulus and assign (remainder)

In [ ]:
# Assignment Operators
a = 2
b = 4
a+=2
a-=2
a*=2
a/=2
a%=2

👉 ASSIGNMENT OPERATORS
| Expression   | `and` | `or`  | `not` |
| ------------ | ----- | ----- | ----- |
| True, True   | True  | True  | False |
| True, False  | False | True  |       |
| False, True  | False | True  |       |
| False, False | False | False | True  |

In [ ]:
#logical operator
a = 10
b= 20
c= (a>5) and (b==20)
d = not(a>10) and (b>20)
print(d)
print(c)

👉 In short (theory):

* & AND → 1 if both 1

* | OR → 1 if any 1

* ~ NOT → flips bits (gives negative in Python)

* ^ XOR → 1 if different

* (>>) right shift → divide by 2ⁿ

* << left shift → multiply by 2ⁿ

In [ ]:
# BITWISE OPERATOR
a = 23
b = 17
print(a&b) # Bitwise AND
print(a | b) # Bitwise OR
print(~a) # Bitwise NOT
print(a ^ b) # Bitwise XOR
print(a >> 2) # Bitwise right shift
print(a << 2) # Bitwise left shift
print(64 >> 2)
print(~a+1)

17
23
-24
6
5
92
16
-23

👉 1. Identity Operators (is, is not)

* These check if two variables point to the same object in memory (not just same value).

* is → True if both variables refer to the same object.

* is not → True if they do not refer to the same object.

👉 2. Equality Operators (==, !=)

* These check if the values (contents) are same, not memory location.

* == → True if contents are same.

* != → True if contents are different.

In [ ]:
# IDENTITY AND MEMBERSHIP OPERATOR:
a = "college"
b=  "ABES"
c = ["College", "ABES"]
d = ["College", "ABES"]
e = c
print(c is e)
# Return True because e is the same object of as c
print(c is not e)
# Return False because e is the same object as c
print(c is not d)
# Return True because c is the same object as d, even if they have same content

print(c != d)
# to demonstate the difference between " is not " and
# "!=" : this comarison return False because c is equal to d

👉MEMBERSHIP OPERATOR

* in → Returns True if the value exists.

* not in → Returns True if the value does not exist.

In [ ]:
# Membership operators
x = [10, 20, 30, 40]

print(20 in x)      # True (20 is in the list)
print(50 not in x)  # True (50 is not in the list)

s = "hello"
print('h' in s)     # True
print('z' in s)     # False

👉Numeric expression and Assignment operation
 1. Direct Assignment:
college = "ABES"

 2. List assignment:
college, code = ["ABES", "032"]


 3. SEquence Assignment :
a,b,c,d = "ABES"

 4. Extending sequence :
a,*b ="ABES"

In [ ]:
a=b=c=d= "ABES"
print(a)
print(b)
print(c)
print(d)

In [ ]:
a,b,c,d = "ABES"
print(a)
print(b)
print(c)
print(d)

🔹 1. Operator Precedence

* Definition: Precedence determines which operator is evaluated first when an expression has more than one operator.

* Higher precedence → evaluated earlier.

   int y = 100 / 10 * 2;  


🔹 2. Operator Associativity

* Definition: Associativity decides the order of evaluation when operators of the same precedence appear together.

* Commonly, operators are left-to-right associative, but some (like assignment =, unary operators, conditional ?:) are right-to-left.

   int a = b = c = 5;


| Operator                            | Precedence (High → Low) | Associativity |               |               |
| ----------------------------------- | ----------------------- | ------------- | ------------- | ------------- |
| `()` `[]` `.` `->`                  | Highest                 | Left-to-right |               |               |
| `++` `--` (postfix)                 |                         | Left-to-right |               |               |
| `++` `--` `+` `-` (unary), `!`, `~` |                         | Right-to-left |               |               |
| `*` `/` `%`                         |                         | Left-to-right |               |               |
| `+` `-`                             |                         | Left-to-right |               |               |
| `<<` `>>`                           |                         | Left-to-right |               |               |
| `<` `<=` `>` `>=`                   |                         | Left-to-right |               |               |
| `==` `!=`                           |                         | Left-to-right |               |               |
| `&`                                 |                         | Left-to-right |               |               |
| `^`                                 |                         | Left-to-right |               |               |
| \`                                  | \`                      |               | Left-to-right |               |
| `&&`                                |                         | Left-to-right |               |               |
| \`                                  |                         | \`            |               | Left-to-right |
| `?:` (ternary)                      |                         | Right-to-left |               |               |
| `=` `+=` `-=` etc.                  |                         | Right-to-left |               |               |
| `,` (comma)                         | Lowest                  | Left-to-right |               |               |

👉  Python 2 vs Python 3

In [ ]:
#Examples of an if-else block
if True:
  print("This is inside the if block")
else:
  print("This is inside the else block")

In [ ]:
#Exmaples of a function block
def my_function():
  print("This is inside the function")
  for i in range(5):
  print(i)

#👉UNIT 2

👉 IF ELSE

In [ ]:
marks = int(input("Enter your marks"))
if marks > 95:
  print("Excellent")

else:
  print("Good")

Enter your marks97
Excellent

In [ ]:
a= int(input("Enter a number:"))
if a%2==0:
  print(a,"Number is even")
else:
  print(a,"Number is odd")

Enter a number5
5 Number is odd

In [ ]:
a= int(input("Enter a number:"))
b= int(input("Enter a number:"))
if a>b:
  print(a,"is greatest")
else:
  print(b,"is greatest")

Enter a number:35
Enter a number:75
75 is greatest

In [ ]:
sell = float(input("Enter selling price:"))
cost = float(input("Enter cost price:"))
if sell>cost:
  print("Profit")
else:
  print("Loss")

Enter selling price:55
Enter cost price:46
Profit

In [ ]:
marks = float(input("Enter a marks"))
if marks>90:
  print("Honours")
else:
  print("NOt honours")

Enter a marks85
NOt honours

👉 NESTED IF ELSE

In [ ]:
a=int(input("Enter the first value"))
b=int(input("Enter the second value"))
c=int(input("Enter the third value"))
if a>b:
  if a>c:
    print(a,"is greatest")
  else:
    print(c,"is greatest")

else:
  if b>c:
    print(b,"is greatest")
  else:
    print(c,"is greatest")

Enter the first value3
Enter the second value6
Enter the third value12
12 is greatest

👉 IF ELIF STATEMENT (ELSE IF LADDER, IF ELSE IF CHAIN)


 GENERAL STATEMENT

Write an program for grades of marks of an student

In [ ]:
a=int(input("Enter the percentage of marks"))
if a>95:
 print("Excellent")
elif a<95 and a>80 :
 print("Good")
elif a<80 and a>60:
  print("Average")
else:
  print("Below Average")

Enter the percentage of marks46
Below average

In [ ]:
a=float(input("Enter the no. of unit consumed:"))
if a<100:
  rental=250
  charge=7.15
  print("Bill is",rental+charge*a)
elif a>101 and a<200:
  rental = 320
  charge=8.50
  print("Bill is",rental+charge*a)
elif a>201 and a<300:
  rental = 410
  charge=9.15
  print("Bill is",rental+charge*a)
else:
  rental= 440
  charge = 9.50
  print("Bill is",rental + charge*a)

Enter the no. of unit consumed:30
Bill is 464.5

👉 SIMPLE CALCULATOR

In [ ]:
a=float(input("Enter first no:"))
b=float(input("Enter first no:"))
print("Enter your choice:")
print("Enter 1 for addition:")
print("Enter 2 for subtraction:")
print("Enter 3 for multiplication:")
print("Enter 4 for division:")
choice=int(input("Enter your choice:"))
if choice==1:
  print("Addition:",a+b)
elif choice==2:
  print("subtraction:",a-b)
elif choice==3:
  print("Multiplication:",a*b)
else:
  print("Division:",a/b)

Enter first no:45
Enter first no:5
Enter your choice:
Enter 1 for addition:
Enter 2 for subtraction:
Enter 3 for multiplication:
Enter 4 for division:
Enter your choice:4
Division: 9.0

In [ ]:
a=1
while(a<5):
 print(a)
 a=a+1

1
2
3
4

 👉 WAP in python to find the sum of digits

In [ ]:
n=int(input("Enter a number:"))
sum1=0
while(n>0):
  a=n%10
  sum1=sum1+a
  n=n//10
print("Sum is:",sum1)

Enter a number:5765
Sum is: 23

👉 WAP in python to find the Factorial of a given number

In [ ]:
n=int(input("Enter a number:"))
a=1
while(n>0):
  a=a*n
  n=n-1
print("Factorial is",a)

Enter a number:5
Factorial is 120

WAP in python to find to reverse of 3 digut no

In [ ]:
n=int(input("Enter a number:"))
rev=0
while(n>0):
  a=n%10
  rev=rev*10+a
  n=n//10
print("Reverse is",rev)

Enter a number:234
Reverse is 432

In [ ]:
i=1
while(i<=100):
  if i%2==0:
    print(i)
  i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
i=1
while(i<=100):
  if i%2!=0:
    print(i)
  i+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
n=int(input("Enter a number:"))
while(n>1):
  if()

In [ ]:
num = int(input("Enter a number: "))

if num > 1:
    is_prime = True
    i = 2
    while i < num:
        if (num % i) == 0:
            is_prime = False
            break
        i += 1
    if is_prime:
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 425
425 is not a prime number

In [ ]:
for x in 1,2,

In [ ]:
for nums = range(6)
for print(nums)
for range(1,6)
for range(0,6,2)

In [ ]:
a=10
b=a
print("Value of a and b before increment")
print()

In [ ]:
a=int(input("Enter a number"))
d=int(a)
b=int(a+a)
c=int(a+a+a)
print(d+b+c)

In [ ]:
a=int(input("Enter radius"))
print(3.14*a*a)

Enter radius2
12.56

In [ ]:
principal=input("Enter principal")
rateOfInterest=input("enter rate of interest")
time=int(input("enter time"))

In [ ]:
n = input("Enter the number: ")
print(int(n)+int(n+n)+int(n+n+n))

KeyboardInterrupt: Interrupted by user

In [ ]:
n = input("Enter an integer: ")
result = int(n) + int(n*2) + int(n*3)
print("Result:", result)

Enter an integer: 2
Result: 246

In [ ]:
a=int(input("Enter number"))
if(a>0):
  print("positive")

elif(a<0):
  print("negative")

else:
  print("Zero")

Enter number5
positive

In [ ]:
for x in 1,2,'hello','7','world',5.16:
  print(x)

1
2
hello
7
world
5.16

In [ ]:
for y in "python":
  print(y)

p
y
t
h
o
n

In [ ]:
#for nums in range(6): # except
  #print(nums)
# for nums in range(1,6):# expect upper limit
#    print(nums)
for nums in range(0,6,2):#increment of 2
   print(nums)
# for nums in range(6,1,-2):#decrement of 2
#   print(nums)

0
2
4

In [ ]:
x=1
while x<=7:
  if x==5:
    x=x+1
    continue
print(x)
x=x+1
print("Out of loop")

In [ ]:
x=1
while x<=7:
  if x==5:
    x=x+1
    break
print(x)
x=x+1
print("Out of loop")

In [ ]:
a=int(input("Enter number"))
if(a<=0):

In [ ]:
for a in range(51):
  if(a%3==0 and a%5==0):
    print("FizzBuzz")
  elif(a%3==0):
    print("Fizz")
  elif(a%5==0):
    print("Buzz")
  else:
    print(a)

STRING

In [ ]:
m="GATTACA"
print(m[1:3])
print(m[:3])
print(m[4:])
print(m[3:5])
print(m[:])
print(m[0:5:2])
print(m[0:5:2])
print(m[-1])
print(m[-2:])
print(m[-1:])
print(m[-5:])

print(m[-2:-6:2])

AT
GAT
ACA
TA
GATTACA
GTA
GTA
A
CA
A
TTACA

In [ ]:
m="GATTACA"
print(len(m))
print("GAT"+"TACA")
print("A"*10)
print("GAT" in "GATTACA")
print("AGT" in "GATTACA")

7
GATTACA
AAAAAAAAAA
True
False

In [ ]:
import string
print(string.ascii_letters)
print(string.ascii_lowercase)
print(string.ascii_uppercase)
print(string.digits)
print(string.hexdigits)
print(string.octdigits)
print(string.punctuation)
print(string.whitespace)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
0123456789abcdefABCDEF
01234567
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
import string
if" " in string.whitespace:
  print(True)
for i in string.whitespace:
  print(repr(i))
for i in string.punctuation:
  print(i)

True
' '
'\t'
'\n'
'\r'
'\x0b'
'\x0c'
!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
:
;
<
=
>
?
@
[
\
]
^
_
`
{
|
}
~

In [ ]:
st="HEllo world"
st= st.capitalize()
print(st)
st=st.title()
print(st)
st=st.lower()
print(st)
st=st.upper()
print(st)
if st.isupper():
  print(True)
st="hello"
if st.islower():
  print(True)
st ="Hello World"
x=st.istitle()
print(x)
x=st.isdigit()
print(x)

Hello world
Hello World
hello world
HELLO WORLD
True
True
True
False

In [ ]:
import string
s="hello worllld"
print("string is:",s)
x=s.find('h')
print(x)
x=s.rfind('o')
print(x)
x=s.index('w')
print(x)
start=6
end=10
x=s.count("ll",1,11)
print(x)
x=s.count('l')
print(x)

string is: hello worllld
0
7
6
2
5

In [ ]:
import string
s="hello world! 123"
if()

In [ ]:
import string
input_string = input("Enter a string: ")

letter_count = 0
digit_count = 0

for char in input_string:
  if char in string.ascii_letters:
    letter_count += 1
  elif char in string.digits:
    digit_count += 1

print("Number of letters:", letter_count)
print("Number of digits:", digit_count)

In [ ]:
import string
s="topeka,kanas city,wichita,olathe"
cities=s.split(",")
print(cities)
for city in cities:
  print(city)

['topeka', 'kanas city', 'wichita', 'olathe']
topeka
kanas city
wichita
olathe

In [ ]:
import string
s="one two three"
c=s.split( )
print(c)
for d in s:
  print(d)

['one', 'two', 'three']
o
n
e

t
w
o

t
h
r
e
e

In [ ]:
import string
s="Buffalo;Rochester;Yonkers;Syracause;Albany;Schenectady"
print(s)
cities=s.rsplit(";",3)
print(cities)
for city in cities:
  print(city)

Buffalo;Rochester;Yonkers;Syracause;Albany;Schenectady
['Buffalo;Rochester;Yonkers', 'Syracause', 'Albany', 'Schenectady']
Buffalo;Rochester;Yonkers
Syracause
Albany
Schenectady

In [ ]:
import string
s="""This string
has many
lines"""
print(s)
lines=s.splitlines()
for line in lines:
  print("["+line+"]")

This string
has many
lines
[This string]
[has many]
[lines]

In [ ]:
list=["a","b","c"]
result="".join(list)
result1=",".join(list)
print(result)
print(result1)

abc
a,b,c

In [ ]:
# Has two leading spaces
#and a trailing one.
value = " a line "
# Remove left spaces.
value1 = value.lstrip()
print("[" + value1 + "]")
# Remove right spaces.
value2 = value.rstrip()
print("[" + value2 + "]")
# Remove left and right spaces.
value3 = value.strip()
print("[" + value3 + "]")

[a line ]
[ a line]
[a line]

In [ ]:
# Has numbers on left and right, and some syntax.
value = "50342=Data,231"
# Strip all digits.
# ... Also remove equals sign and comma.
result = value.strip("0123456789=,")
print(result)

Data

In [ ]:
s = "Paris"
# Justify to left, add periods.
print(s.ljust(10, "."))
# Justify to right.
print(s.rjust(10))
#justify center
print("hello".center(10,"."))

Paris.....
     Paris
..hello...

In [ ]:
import string
s="Learn NodeJS from scratch and build modern web applications. Perfect for beginners and intermediate developers."
len_uppercase = 0

for c in s:
  if c >= 'A' and c <= 'Z':
    len_uppercase += 1
print(len_uppercase)

5

In [ ]:

s = "AAABBBBAA"
compressed_string = ""
current_char = None
count = 0


for char in s:
  if char == current_char:
    count += 1
  else:
    if current_char is not None:
      compressed_string += current_char + str(count)
    current_char = char
    count = 1
if current_char is not None:
  compressed_string += current_char + str(count)
print("Original string:", s)
print("Compressed string:", compressed_string)

Original string: AAABBBBAA
Compressed string: A3B4A2

In [ ]:
s = input("Enter a string: ")

# check by reversing string
if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

In [ ]:
import string
punc="''!()-'[]{};:'\<,"">./?@#$%^&*_~''‘"
s="Ak/,gd!@$^())><,"
result=""
for a in s:
  if a not in punc:
    result+=a
print(result)

Akgd

<>:2: SyntaxWarning: invalid escape sequence '\<'
<>:2: SyntaxWarning: invalid escape sequence '\<'
/tmp/ipython-input-4286897350.py:2: SyntaxWarning: invalid escape sequence '\<'
  punc="''!()-'[]{};:'\<,"">./?@#$%^&*_~''‘"

In [ ]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
a=['a','e','i','o','u']
print(a[2:4])
print(a[2:])
print(a[:3])

['i', 'o']
['i', 'o', 'u']
['a', 'e', 'i']

In [ ]:
names=['adan','carol','henry','marget','phill']
del names[3]
print(names)
names[3:4]=[]
print(names)
del names[1:4]
print(names)

['adan', 'phill']

In [ ]:
a=[1,2,3]
b=a
print(id(a),id(b))

138939765856832 138939765856832

In [ ]:
a=[1,2,3]
b=a[:]
print(id(a),id(b))

138939764780864 138939767043968

In [ ]:
# write a python program to print the following integers with "*" on the right of specified width
# Write a python program to strip a set of character from a string
# rite a python program to count repeated character in a string

In [ ]:
number = 123
width = 10
print(str(number).ljust(width, '*'))

number = 45
width = 8
print(str(number).ljust(width, '*'))

123*******
45******

In [ ]:
# Write a python program to strip a set of character from a string
s = "---Hello World---"
# Stripping leading and trailing '-' characters
stripped_string = s.strip('-')
print(f"Original string: {s}")
print(f"Stripped string: {stripped_string}")

s = "abcHello Worldcba"
# Stripping leading and trailing 'a', 'b', 'c' characters
stripped_string = s.strip('abc')
print(f"Original string: {s}")
print(f"Stripped string: {stripped_string}")

Original string: ---Hello World---
Stripped string: Hello World
Original string: abcHello Worldcba
Stripped string: Hello World

In [ ]:
# Write a python program to count repeated character in a string
from collections import Counter

s = "programming is fun"
char_counts = Counter(s)

print("Repeated characters and their counts:")
for char, count in char_counts.items():
  if count > 1:
    print(f"'{char}': {count}")

Repeated characters and their counts:
'r': 2
'g': 2
'm': 2
'i': 2
'n': 2
' ': 2

In [2]:
l=[]
print(l)
l.append(9)
l.append("hello")
l.append(75)
l.append(2)
print(l)
l.insert(0,90)
print(l)

[]
[9, 'hello', 75, 2]
[90, 9, 'hello', 75, 2]

In [4]:
l=[33,44]
print(l)
m=[78,23]
l.extend(m)
print(l)
l.extend("abc")
print(l)
l.extend([32,"abc",35.5])
print(l)
m=[34,56]
m.append([23,34])
print(m)

[33, 44]
[33, 44, 78, 23]
[33, 44, 78, 23, 'a', 'b', 'c']
[33, 44, 78, 23, 'a', 'b', 'c', 32, 'abc', 35.5]
[34, 56, [23, 34]]

In [5]:
i=[92,56,12,78,1]
print(i)
print(i.count(92))
i.sort()
print(i)
i.sort(reverse=True)
print(i)
i.reverse()
print(i)

[92, 56, 12, 78, 1]
1
[1, 12, 56, 78, 92]
[92, 78, 56, 12, 1]
[1, 12, 56, 78, 92]

In [8]:
i=[23,"bill",67,89,90,"abc","xyz"]
print(i)
i.remove("abc")
print(i)
del(i[2])
print(i)
del(i[2:])
print(i)
i.extend([34,4,67,90])
print(i)
del(i[2:4])
print(i)
del(i[:-1])
print(i)
del(i[:])
print(i)
del(i)

[23, 'bill', 67, 89, 90, 'abc', 'xyz']
[23, 'bill', 67, 89, 90, 'xyz']
[23, 'bill', 89, 90, 'xyz']
[23, 'bill']
[23, 'bill', 34, 4, 67, 90]
[23, 'bill', 67, 90]
[90]
[]

In [9]:
i=["abc",30,50]
x=i.index(30)
print(x)
number=[10,20,30,40,50,'Hello']
print(number.pop())
print(number)
x=number.pop()
print(x)

1
Hello
[10, 20, 30, 40, 50]
50

In [11]:
i=[5,4,3,2,1]
p=sorted(i)
print(p)
print(i)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]